.navbar{
    background-color: #202020 !important;
    padding: 5px 150px !important;
  }
  
  .brand{
    font-family: 'Cinzel' !important;
    font-size: 30px !important;
    color:rgb(242, 205, 77) !important;
  }
  
  .navbar-typewriter{
    position: relative;
    top: 25px;
    right: 140px;
  }
  
  .navbar-balloon{
    position: relative;
    top: 30px;
    left: 55px;
  }
  
  .navbar-ship{
    position: relative;
    top: 30px;
    left: 160px !important;
  }
  
  .navbar-cujo{
    position: relative;
    top: 30px;
    left: 284px !important;
  }
  
  .navbar-vampire{
    position: relative;
    top: 30px;
    left: 295px !important;
  }
  
  .navbar-link{
    color: #f2cd4d !important;
    text-decoration: none !important;
    font-family: 'Cinzel' !important;
    font-size: 14px !important;
    margin-left: 10px;
  }
  
  .navbar-link:hover{
    color: rgb(242, 205, 77) !important;
    box-shadow: groove #a00b0b 6px !important;
  }